/* General Styles */
body {
  background-color: #000000;
  font-family: "Segoe UI", sans-serif;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Headings */
h1 {
  color: #b81b1b;
  margin-top: 50px;
  font-size: 50px;
}

h2,
p {
  margin: 10px 0;
}

h2 {
  font-size: 50px;
}

p {
  color: white;
  font-size: 20px;
}

.highlight {
  color: #5865f2;
}

/* Button Container */
.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

button {
  background-color: #5865f2;
  color: #ffffff;
  font-size: 14px;
  padding: 12px 28px;
  border-radius: 12px;
  border: 2px solid #5865f2;
  cursor: pointer;
  transition: all 0.2s ease;
}

button:hover {
  box-shadow: 0 8px 16px rgba(88, 101, 242, 0.6);
  transform: translateY(-2px);
}

button:active {
  transform: translateY(2px);
}

/* Social Icons */
.row {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 20px 0 50px 0;
}

.column img {
  width: 50px;
  height: auto;
  transition: transform 0.2s, box-shadow 0.2s;
}

.column img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #5865f2;
}

/* Responsive Adjustments */
@media screen and (max-width: 600px) {
  .button-container {
    flex-direction: column;
    gap: 15px;
  }

  .row {
    flex-direction: column;
    gap: 15px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 18px;
  }

  button {
    width: 80%;
    font-size: 16px;
  }

  .column img {
    width: 40px;
  }
}

.skill {
  background-color: #000000;
  color: white;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  cursor: pointer;
  margin-right: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.skill:hover {
  background-color: #5865f2;
  transform: scale(1.05); /* Slightly increase size on hover */
}

.flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid #2a2a2a;
  gap: 30px;
  justify-content: center;
}

h3 {
  font-size: 30px;
  color: #5865f2;
}